#homeContainer {
    background-color: #eeeeee;
}

#friendHeading {
    font-size: 60px;
    padding-top: 5px;
}

#friendImage {
    height: 60px;
    display: inline-block;
    margin-bottom: 14px;
}

hr {
	border-width: 1px;
	border-color: black;
}

#friendbtn {
	margin-bottom: 25px;
}

