body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#homeContainer {
    background-color: #eeeeee;
}

#friendHeading {
    font-size: 60px;
    padding-top: 5px;
}

#friendImage {
    height: 60px;
    display: inline-block;
    margin-bottom: 14px;
}

.hometext {
    font-size: 32px;
}

.friendlist {
    margin-top: 15px;
}

#friendbtn {
    margin-top: 15px;
}

#submitbutton {
    margin-top: 15px;
}

.form-control {
    width: 200.8px;
}

hr {
    border-width: 1px;
    border-color: black;
}

img {
    max-width: 250px;
}